header {
    background-color: #f8f9fa;
    padding: 100px 0;
  }
  
  header h1 {
    color: #333;
  }
  
  header p {
    color: #666;
  }
  
  .card {
    margin-bottom: 30px;
  }
  
  .card-title {
    font-size: 1.5rem;
  }
  
  .card-text {
    color: #666;
  }
  
  footer {
    background-color: #343a40;
    color: #fff;
    padding: 20px 0;
  }

  .card-img-wrapper {
    overflow: hidden;
    height: 200px; 
  }
  
  .card-img-wrapper img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }