<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Hotel San Diego</title>
  <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
</head>

<app-nav-bar></app-nav-bar>

<div class="container">
<div class="row">
  <div class="col-md-4" *ngFor="let room of rooms">
    <div class="card mb-3">
      <img *ngIf="room.imageUrl" [src]="room.imageUrl" class="card-img-top" alt="Room Image">
      <div class="card-body">
        <h5 class="card-title">Room {{ room.roomNumber }}</h5>
        <p class="card-text">Status: {{ room.roomStatus !== undefined ? getRoomStatus(room.roomStatus) : 'Unknown' }}</p>
        <p class="card-text">Type: {{ room.roomType !== undefined ? getRoomType(room.roomType) : 'Unknown' }}</p>
        <p class="card-text">Price: {{ room.price }}</p>
        <a [routerLink]="['/booking-place', room.id]" routerLinkActive="active" ariaCurrentWhenActive="page">Book Now</a>        
      </div>
      </div>
    </div>
  </div>
</div>
