.table-custom {
    width: 100%;
    border-collapse: collapse;
  }
  
  .table-custom th, .table-custom td {
    padding: 8px;
    border: 1px solid #ddd;
  }
  
  .table-custom thead {
    background-color: #343a40;
    color: #fff;
  }
  
  .table-custom tbody tr:nth-child(even) {
    background-color: #f2f2f2;
  }
  
  .table-custom tbody tr:hover {
    background-color: #ddd;
  }
  
  .table-custom img {
    max-width: 100px;
    max-height: 100px;
  }
  